@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: #fcfaf9;
  
}
.container .text_img {
  padding: 40px 24px;
}

.container h1 {
  padding: 20px 24px;
  letter-spacing: -0.454545px;
  color: #191826;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  font-family: "IBM Plex Sans";
}
.container .long_text {
  padding: 3px 24px;
  color: #191826;
  font-family: IBM Plex Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.container .img_box {
  background-color: #191826;
  border-radius: 12px;
  height: 600px;
  width: 375px;
  margin-top: 166px;
  background-image: url(./assets/bg-pattern-2.svg);
  background-repeat: no-repeat;
  background-position: top center;
}
.img_box {
  position: relative;
}
.img_box .phone {
  width: 208.9719696044922px;
  position: absolute;
  left: 80px;
  bottom: 270px;
}
.container .orange_box {
  height: 546px;
  width: 375px;
  border-radius: 12px;
  background-color: #fa7453;
  position: relative;
  bottom: 220px;
}
.orange_box h2 {
  font-family: IBM Plex Sans;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  padding-left: 36px;
  padding-top: 48px;
  color: #fcfaf9;
}
.orange_box .text {
  font-family: IBM Plex Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #fcfaf9;
  margin-left: 36px;
  margin-right: 37px;
  margin-top: 12px;
}
.price_box {
  display: flex;
  align-items: center;
}
.price_box h3 {
  display: inline-block;
  color: #fcfaf9;
  padding: 36px 42px;
  font-family: IBM Plex Sans;
  font-size: 65px;
  font-weight: 700;
  line-height: 52px;
}
.price_box span {
  font-family: IBM Plex Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.20000000298023224px;
  color: #fcfaf9;
  margin-left: -24px;
}
.orange_box .btn {
  background-color: #191826;
  color: #fcfaf9;
  width: 296px;
  height: 61px;
  border: none;
  border-radius: 12px;
  margin-left: 42px;
  font-family: IBM Plex Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7.8px;
}
.orange_box .btn_2 {
  background-color: #fcfaf9;
  color: #191826;
  width: 296px;
  height: 61px;
  border: none;
  border-radius: 12px;
  margin-left: 42px;
  font-family: IBM Plex Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7.8px;
}
.footer{
    margin-top: -140px;
}
.footer img{
    margin-left: 24px;
}
.footer p {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #191826;
  margin-left: 24px;
  margin-top: 32px;
}
.icons{
    margin-top: 64px;
    padding-bottom: 80px;
}
